<script{{#if typescript}} lang="ts"{{/if}}>

	{{#if typescript}}
	import { defaultConfig } from '../../_standalone/{{componentName}}/config';
	{{else}}
	import { defaultConfig } from '../../_standalone/{{componentName}}/config.js';
	{{/if}}
</script>

<svelte:head>
	<script type="module" src="/dist/standalone/{{componentName}}.min.js"></script>
</svelte:head>

<main class="p-2">
	<{{componentName}}>{{componentName}}</{{componentName}}>
</main>
