<script{{#if typescript}} lang="ts"{{/if}}>
	import { onMount } from 'svelte';
  
	onMount(() => {
	  const script = document.createElement('script');
	  script.src = '/src/_standalone/{{componentName}}/embed{{#if typescript}}.ts{{else}}.js{{/if}}';
	  script.async = true;
	  script.type = 'module';
  
	  document.head.appendChild(script);
  
	  return () => {
		document.head.removeChild(script);
		window.{{componentName}}.stop();
	  };
	});
</script>

<div class="{{componentName}}"></div>
<div class="{{componentName}}"></div>